
  @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    
    width: 100vw;
    flex-shrink: 0; 
    font-family: 'Lexend', sans-serif;
    overflow-x: hidden;

}

header{

width: 100vw;
height: 61px;
flex-shrink: 0;
border: 1px solid #000;
background: rgba(0, 0, 0, 0.85);
display: flex;
align-items: center;
justify-content: space-between;
padding: 15px 25px;


}



.left img{

width: 50px;
height: 50px;
flex-shrink: 0;

}

nav{

    width: 100vw;
    height: 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
}
nav ul{

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    
}
nav ul li{

    list-style: none;

    line-height: normal;
    
}
nav ul li a{

  text-decoration: none;
  color: #262626;
  font-family: Lexend;
  font-size: 18px;
 font-style: normal;
  font-weight: 600;
    
}

.nav_btn{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #538e44;
    padding: 5px 10px;

    
}
.nav_btn p{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#hero{

    background: url(./Images/residence-gb0e11d9e2_1920\ 1.png);
    width: 100%;
    min-height: 959px;
    background-repeat: no-repeat;
    /* background-position: center;
    background-position: cover; */
    background-size: contain;
    position: relative;
}

.hero_item{

    width: 835px;
    height: 67px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px 20px 0px 0px;
     border: 2px solid #FFF;
     background: #262626;
     padding: 20px;
}
.hero_item div{

    display: flex;
    align-items: center;
    justify-content: space-between;
     color: #FFF;
    font-family: Lexend;
    font-size: 24px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     gap: 20px;
}

#items{

    position: absolute;
    bottom: 20px;
    left: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.booking{
width: 991px;
height: 118px;
flex-shrink: 0;
display: flex;
align-items: center;
justify-content: flex-start;
border-radius: 20px;
border: 2px solid #262626;
background: #FFF;
box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.30);
padding: 50px;
gap: 110px;
}
.booking h3{
    color: #262626;
    font-family: 'Lexend';
    font-size: 24px; 
        font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.booking select{
    width: 192px;
    height: 29px;
    flex-shrink: 0;
    border: 1px solid #538E44;
}

.search_deatils{
width: 152px;
height: 152px;
flex-shrink: 0;
fill: #538E44;
stroke-width: 10px;
stroke: #262626;
background-image: url(./Images/Ellipse\ 1.svg);
display: flex;
align-items: center;
justify-content: center;
margin-left: -30px;
cursor: pointer;
}



#testonamial{

    width: 100vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 120px;
    padding-inline: 40px;
      
  }

  
  #testonamial .swiper{
    width: 90%;
  
  }
  
  #testonamial .swiper-slide {

    width: 100%;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* overflow: hidden;  */
    padding-inline: 20px;
    position: relative;
    cursor: grab;
   
    }
    
    #testonamial .swiper-slide div {
        width: 1010px;
        height: 216px;
        flex-shrink: 0;
        border-radius: 20px;
        border: 5px solid #262626;
        background: #538E44;
        box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.25);
    }
    
 

#premium{


    width: 100vw;
    /* height: 50vh; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    gap: 80px; 
    margin-top: 60px;
}
#premium h2{

    color: #538E44;
    font-family: Lexend;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#premium .swiper-slide {

    width: 100%;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;  
    padding-inline: 10px;
   
    }

    .mySwiper2{

        width: 80%;
    }


.swiper-slide img { 
    position: relative; 
    display: block;
    width: 330px;
     height: 440px;
     flex-shrink: 0;
     border-radius: 20px;
     background: rgba(38, 38, 38, 0.40);
      box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.25);
      object-fit: cover;
      border-radius: 20px;
border: 5px solid #538E44;
box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.25);
  }


  .slide{
    width: 100%;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* overflow: hidden;  */
    padding-inline: 20px;
  }

  .overlay{

    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    right: 0;
    /* inset: 0; */
    width: 330px;
    height: 440px;
    border-radius: 20px;
    background: rgba(38, 38, 38, 0.40);
/* box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.25); */
display: flex;
align-items: center;
justify-content: center;

  }

  .overlay div{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
     height: 102px;
     flex-shrink: 0; 
    background: rgba(4, 4, 4, 0.90); ;
    margin-top: 150px;
  }
  .overlay div p{

    color: #FFF;
    font-family: Lexend;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .overlay div h3{
color: #538E44;
font-family: Lexend;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
  }

#Exclusive_Properties{

  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;
  gap: 60px;
}

#Exclusive_Properties h2{

  color: #538E44;
  font-family: Lexend;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#tamplate_wrapper{

   width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

}

#Exclusive_Properties .tamplate{

  width: 337.385px;
  min-height: 560.053px;
  border: 5px solid #538E44;
   box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.25);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.banner{

  width: 297.623px;
  height: 307.563px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 30px; */

}
#Exclusive_Properties .tamplate .banner img{

  width: 297.623px;
  height: 300.563px;
  object-fit: cover;
  margin-bottom: 30px;
}

.tamplate_details h3 {
  color: #262626;
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;

}
.tamplate_details p {
  color: #262626;
  font-family: Lexend;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;

}

.tamplate_footer{

  border-top: 2px solid rgb(158, 238, 121);
   /* padding: 5px; */
  width: 320px;
  height: 50px;
  margin-top: 10px;
  color: #262626;
font-family: Lexend;
font-size: 20px;
font-style: normal;
font-weight: 900;
line-height: normal;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
position: relative;
}

.amount{

  color: red;
}

.tamplate_footer img{

  position:absolute;
  bottom: -48px;
  left: -18px;
  width: 100px;
}

#why{

width: 1440px;
height: 550px;
flex-shrink: 0;
background: #F3F7F2;
display: flex;
align-items: center;
justify-content: center;
margin-top: 100px;
flex-direction: column;
}

#wrapper_reasons{

  width: 80%;
  display: flex;
align-items: center;
justify-content: center;
gap: 60px;
}

#why h2{
  color: #262626;
  font-family: Lexend;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.reasons{

width: 250px;
height: 272px;
flex-shrink: 0;
border-radius: 10px;
border: 3px solid #FFF;
background: #262626;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin-top: 40px;
}
.reasons h3{

  color: #538E44;
  font-family: Lexend;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.reasons p{

  color: #538E44;
  text-align: center;
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 20px;
  text-align: left;
}

#acheivement{


  width: 100vw;
  /* min-height: 100vh; */
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

#first{


  width: 100%;
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
}
#first h1{

  color: #538E44;
  font-family: Lexend;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 20px;

}
#first  p{

  width: 1256px;
  height: 102px;
  flex-shrink: 0;
  color: #538E44;
text-align: center;
font-family: Lexend;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;

}

#second{

  width: 100%;
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 30px;

}

.projects{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.projects h1{

  color: #262626;
  font-family: Lexend;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}
.projects h1 .plus{

  color: #538E44;
  font-family: Lexend;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

}
.projects p{

  color: #538E44;
  font-family: Lexend;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

}

#third{

  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 50px;

}
#third>h1{

  color: #538E44;
  font-family: Lexend;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;

}

.third_project{

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  
}

.blog_box{

  width: 567px;
  height: 336px;
  flex-shrink: 0;
  border-radius: 20px;
border: 5px solid #538E44;
box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.25);
display: flex;
align-items: center;
justify-content: center;
position: relative;



}
.blog_box img{

  width: 467px;
  height: 266px;
  object-fit: cover;

}

.date{

width: 153px;
height: 27px;
flex-shrink: 0;
border-radius: 15px 15px 0px 0px;
background: #538E44;
color: #000;
font-size: 16px;
position: absolute;
display: flex;
align-items: center;
justify-content: center;
bottom: 0;
}

#fourth{


  width: 1440px;
  height: 550px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
  background: #F3F7F2;;
}
#fourth h1{

  color: #262626;
  font-family: Lexend;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;

}
#fourth  p{

  width: 904px;
  height: 126px;
  color: #538E44;
text-align: center;
font-family: Lexend;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 30px;

}

.email{


  width: 686px;
height: 92px;
flex-shrink: 0;
border-radius: 20px;
background: rgba(38, 38, 38, 0.55);
margin-top: 30px;
display: flex;
align-items: center;
justify-content: space-around;
gap: 50px;

}
.email button{

  width: 139px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 10px;
   background: #FFF;
   border: 0;
   cursor: pointer;

}
.email button:hover{

   background: #538E44;
   color: #FFF;


}
.email h3{

  color: #FFF;
  font-family: Lexend;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

}

#fifth{

  width: 100%;
  height: 300px;
  position: relative;

}

.booking2{
  width: 1081px;
  height: 188px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  padding: 50px;
  gap: 110px;
  position: absolute;
  bottom: -120px;
  left: 170px;
  border-radius: 20px;
border: 5px solid #262626;
background: #538E44;
box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.25);
  }

  .booking2 h3{
    color: #262626;
    font-family: 'Lexend';
    /* font-size: 32px; */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
  .booking2 svg{
    width: 130px;
    height: 130px;
    flex-shrink: 0;
    position: absolute;
    top: -120px;
    margin-left: 30px;
}

#book{

  width: 100%;
  height: 100%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
#book img{


  width: 50px;
height: 50px;
flex-shrink: 0;
position: relative;
top: -80px;
left: 70px;

}
#book div{

  width: 25%;
}

  /* Footer styles */
  .footer {
    min-height: 100vh;
    background-color: #333;
    color: white;
    padding: 40px 0;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 140px;
   
  }

  .footer-logo {
    width: 230px;
    height: 235px;
    flex-shrink: 0;
    margin-left: -20px;
  }

  .footer-columns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 170px;
    margin-left: -20px;
  }

  .footer-column {
    /* flex: 1; */
    max-width: calc(28% - 20px); /* Adjust this value for spacing */
    margin: 40px 10px;
    min-height: 60vh;
  }

  .footer-column h3 {
    color: #538E44;
    font-family: 'Lexend', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
  }

  .footer-column ul {
    font-size: 20px;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    line-height: normal
    text-transform: capitalize;
  }

  .footer-column li {
    color: #538E44;
    margin-bottom: 30px;
    list-style: none;
    text-align: start;
    font-weight: 700;
    transition: text-decoration 0.1s ease-in-out;
 
  }
  .footer-column li:hover{
    cursor: pointer;

  }

  .rights{


    color: #538E44;
font-family: Lexend;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
padding: 30px;
background-color: #333;
display: flex;
align-items: center;
justify-content: center;
border-top: 3px solid #538E44;

  }